* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: .95rem
}
button,
button:hover {
    border: none;
    color: #fff;
    padding: 10px
}

li,
ul {
    list-style-position: inside;
}
h1 {
    font-weight: 600;
    text-align: center;
    font-size: 1.5rem
}
button {
    background: #FFCA28;
    cursor: pointer;
    transition: background .3s ease
}
button:hover {
    background: #FFD54F;
}
button:disabled {
    cursor: default;
    background: #698ea5
}